body {
  max-width: 1500px;
  min-width: 800px;
  font-family: Calibri;
  margin: 0;
  width: 100%
  height: auto;
}

.header {
  height: 40px;
  width: 100%;
  position: fixed;
  background: #686868;
  z-index: 1000;
}

.menu {
  margin-top: 40px;
  width: 100%;
  height: 1000px;
  position: absolute;
}

#mainimage {
  width: 100%;
  height: 625px;
} 