#hookahs {
	background-image: url(../../images/boxCategories/hookahs.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}

#pubs {
	background-image: url(../../images/boxCategories/hookahs.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}

#coffes {
	background-image: url(../../images/boxCategories/hookahs.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}

#anti-coffes {
	background-image: url(../../images/boxCategories/hookahs.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}